* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::selection {
    background:lime;
    color: rgb(0, 0, 0);
}

@font-face {
    font-family: VCR_OSD_Mono;
    src: url('VCR_OSD_Mono.woff2') format('woff2'),
        url('VCR_OSD_Mono.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background: black;
    color: white;
    text-transform: uppercase;
    font-family: VCR_OSD_Mono;
    font-size: 1.03rem;
    max-width: 750px;
    margin: 0 auto;
    padding: 2rem;
    line-height: 1.5;
}

h1, h2 {
    font-size: 1em;
    font-weight: normal;
    padding-top: .875rem;
    line-height: 1;
}

p {
    font-size: 1em;
    margin: 2px 0 1rem 0;
}

a {
    color: lime;
    margin-right: 19.5px;
}


nav {
    margin-bottom: 3rem;
}

h1 {
    position: relative;
  }
  
  @keyframes noise-anim {
    0% {
      clip: rect(17px, 9999px, 72px, 0);
    }
    3.33333% {
      clip: rect(70px, 9999px, 23px, 0);
    }
    6.66667% {
      clip: rect(69px, 9999px, 57px, 0);
    }
    10% {
      clip: rect(53px, 9999px, 74px, 0);
    }
    13.33333% {
      clip: rect(82px, 9999px, 74px, 0);
    }
    16.66667% {
      clip: rect(9px, 9999px, 44px, 0);
    }
    20% {
      clip: rect(21px, 9999px, 34px, 0);
    }
    23.33333% {
      clip: rect(97px, 9999px, 5px, 0);
    }
    26.66667% {
      clip: rect(69px, 9999px, 70px, 0);
    }
    30% {
      clip: rect(56px, 9999px, 97px, 0);
    }
    33.33333% {
      clip: rect(48px, 9999px, 1px, 0);
    }
    36.66667% {
      clip: rect(99px, 9999px, 63px, 0);
    }
    40% {
      clip: rect(65px, 9999px, 63px, 0);
    }
    43.33333% {
      clip: rect(47px, 9999px, 84px, 0);
    }
    46.66667% {
      clip: rect(28px, 9999px, 68px, 0);
    }
    50% {
      clip: rect(10px, 9999px, 30px, 0);
    }
    53.33333% {
      clip: rect(28px, 9999px, 22px, 0);
    }
    56.66667% {
      clip: rect(53px, 9999px, 42px, 0);
    }
    60% {
      clip: rect(60px, 9999px, 83px, 0);
    }
    63.33333% {
      clip: rect(92px, 9999px, 99px, 0);
    }
    66.66667% {
      clip: rect(100px, 9999px, 88px, 0);
    }
    70% {
      clip: rect(69px, 9999px, 48px, 0);
    }
    73.33333% {
      clip: rect(10px, 9999px, 59px, 0);
    }
    76.66667% {
      clip: rect(23px, 9999px, 12px, 0);
    }
    80% {
      clip: rect(41px, 9999px, 14px, 0);
    }
    83.33333% {
      clip: rect(59px, 9999px, 42px, 0);
    }
    86.66667% {
      clip: rect(49px, 9999px, 76px, 0);
    }
    90% {
      clip: rect(5px, 9999px, 4px, 0);
    }
    93.33333% {
      clip: rect(40px, 9999px, 25px, 0);
    }
    96.66667% {
      clip: rect(65px, 9999px, 68px, 0);
    }
    100% {
      clip: rect(87px, 9999px, 57px, 0);
    }
  }
  h1:after {
    content: "Arya Mehralian";
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 lime;
    top: .875rem;
    color: white;
    background: black;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite;
  }
  
  @keyframes noise-anim-2 {
    0% {
      clip: rect(68px, 9999px, 78px, 0);
    }
    3.33333% {
      clip: rect(100px, 9999px, 35px, 0);
    }
    6.66667% {
      clip: rect(50px, 9999px, 7px, 0);
    }
    10% {
      clip: rect(12px, 9999px, 43px, 0);
    }
    13.33333% {
      clip: rect(92px, 9999px, 7px, 0);
    }
    16.66667% {
      clip: rect(14px, 9999px, 1px, 0);
    }
    20% {
      clip: rect(35px, 9999px, 16px, 0);
    }
    23.33333% {
      clip: rect(13px, 9999px, 60px, 0);
    }
    26.66667% {
      clip: rect(36px, 9999px, 92px, 0);
    }
    30% {
      clip: rect(6px, 9999px, 47px, 0);
    }
    33.33333% {
      clip: rect(15px, 9999px, 87px, 0);
    }
    36.66667% {
      clip: rect(93px, 9999px, 25px, 0);
    }
    40% {
      clip: rect(66px, 9999px, 10px, 0);
    }
    43.33333% {
      clip: rect(59px, 9999px, 40px, 0);
    }
    46.66667% {
      clip: rect(8px, 9999px, 4px, 0);
    }
    50% {
      clip: rect(92px, 9999px, 85px, 0);
    }
    53.33333% {
      clip: rect(19px, 9999px, 53px, 0);
    }
    56.66667% {
      clip: rect(40px, 9999px, 81px, 0);
    }
    60% {
      clip: rect(6px, 9999px, 81px, 0);
    }
    63.33333% {
      clip: rect(14px, 9999px, 78px, 0);
    }
    66.66667% {
      clip: rect(84px, 9999px, 45px, 0);
    }
    70% {
      clip: rect(30px, 9999px, 61px, 0);
    }
    73.33333% {
      clip: rect(31px, 9999px, 64px, 0);
    }
    76.66667% {
      clip: rect(97px, 9999px, 69px, 0);
    }
    80% {
      clip: rect(13px, 9999px, 15px, 0);
    }
    83.33333% {
      clip: rect(15px, 9999px, 87px, 0);
    }
    86.66667% {
      clip: rect(8px, 9999px, 6px, 0);
    }
    90% {
      clip: rect(54px, 9999px, 12px, 0);
    }
    93.33333% {
      clip: rect(94px, 9999px, 12px, 0);
    }
    96.66667% {
      clip: rect(74px, 9999px, 34px, 0);
    }
    100% {
      clip: rect(64px, 9999px, 98px, 0);
    }
  }
  h1:before {
    content: "Arya Mehralian";
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 black;
    top: .875rem;
    color: white;
    background: black;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite;
  }