*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 400;
    src: url('Yekan Bakh EN 04 Regular.woff') format("woff");
}
@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 500;
    src: url('Yekan Bakh EN 05 Medium.woff') format("woff");
}

body {
    background: #fff;
    font-family: YekanBakh;
    font-weight: 400;
    line-height: 1.5;
    padding: 0 15px;
    margin: 0 auto;
    direction: rtl;
}

header {
    margin-top: 2rem;
    text-align: center;
}

h1 {
    font-size: 1.125rem;
    margin-bottom: 0;
    font-weight: 500;
    color: #333333;
}

h2 {
    font-size: 0.9375rem;
    font-weight: 400;
    color: #767676;
    margin-top: 0.0625rem;
    margin-bottom: 1.875rem;
}

p {
    margin-bottom: 1.875rem;
    line-height: 1.7;
}

a {
    display: block;
    color: #007aff;
    background: #e5f1ff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 1.375rem;
    margin-bottom: 0.4375rem;
    text-decoration: none;
    padding: 6px 19px 8px 17px;
}

h6 {
    font-size: 16px;
    color: #767676;
    margin-bottom: 13px;
    font-weight: 500;
    line-height: 1.2;
}

h1, h2, h6 {
    text-align: center;
}

section {
    margin-bottom: 1.875rem;
}

section:last-child a {
    color: #007aff;
    display: block;
    text-align: right;
    font-weight: 500;
    font-size: 1.125rem;
    border-radius: 1.375rem;
    margin-bottom: 0.4375rem;
    text-decoration: none;
    padding: 0.46875rem 1rem;
    text-align: left;
    background: #fff;
    border: 1px solid #dbdbdb;
}

img {
    width: 5rem;
    height: 5rem;
    margin: 0 0 0.6875rem;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 5px 0px #6c757d26;
    box-shadow: 0px 0px 5px 0px #6c757d26;
    vertical-align: middle;
    border-style: none;
    text-align: center;
}


@font-face {
    font-family: "icon";
    src: url(icon.woff) format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
[class^="icon-"],
[class*=" icon-"] {
    font-family: "icon" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-whatsapp1:before {
    content: "î¤œ";
}
.icon-telegram1:before {
    content: "î¤";
}

.link a:before {
    font-family: "icon";
    color: #007aff;
    text-align: center;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    padding-left: 10px;
    content: "\e91b";
    vertical-align: middle;
    font-size: 20px;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
.phone:after {
    content: "\e325";
}

.email:after {
    content: "\e0e1";
}

.tel:after {
    content: "\e61c";
}

.telegram:before {
    content: "\e91d";
}


.contact a:after {
    font-family: "icon";
    color: #007aff;
    text-align: center;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    padding-left: 10px;
    vertical-align: middle;
    font-size: 20px;
    display: inline-block;
    float: right;
    line-height: 1.3;
}









@media (min-width: 576px){
    body {
        max-width: 390px;
    }
}